@font-face {
    font-family: Poppin;
    src: url(../fonts/poppins-semibold-webfont.woff2);
    src: url(../fonts/poppins-semibold-webfont.woff);
}

@font-face {
    font-family: Poppin-light;
    src: url(../fonts/poppins-regular-webfont.woff);
}

@font-face {
    font-family: Alex;
    src: url(../fonts/AlexBrushRegular.woff);
}


:root {
    --tai-primary-col: #f3b42d;
}

.poppin {
    font-family: 'Poppin';
}

.poppin-light {
    font-family: 'Poppin-light', Arial, Helvetica, sans-serif;
}

.tai-font {
    font-family: 'Alex';
}

.capitals {
    text-transform: capitalize !important;
}

.hr::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: red;
    padding: 0 0.01em;
    line-height: 1.8em;
    /* background-color: #fcfcfa; */
}

.hr::before {
    content: "";
    color: var(--tmt-dark);
    background: linear-gradient(to right, transparent, #feae1a, transparent);
    position: absolute;
    width: 100%;
    height: 2px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    /* color: black; */
    text-align: center;
    height: 2em;
    /* opacity: 0.5; */
    font-size: 29px;
    font-family: "Alex", sans-serif;
}
